:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;
  background-color:  #d1f2c8 ;
  color:   #1e5011  ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
