.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #ace89c ;
    padding: 10px 20px;
    margin-bottom: 80px;
    border-radius: 10px;
}

header a{
    text-decoration: none;
    color:  #5f8a54 ;
    font-weight: 600;
    font-size: 1.1rem;
}

.footer{
    text-align: center;
    background-color:  #ace89c ;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
}